* {
    margin: auto;
    padding: auto;
    border-radius: 7px;
}

header .title {
    margin: 4px;
    color:black;
    font-family: 'Courgette';
    /* google font */
    letter-spacing: 2px;
    font-size: 45px;
}

.subtitle {
    font-family: 'Spectral';
    /* google font */
    font-size: 22px;
}

i {
    margin: 3px;
    color: yellow;
}

main {
    background-color: #485FC7;
}
/* color bulma uses for their hero sections */

section {
    text-align: center;
    letter-spacing: 1px;
}

.norad-id-button {
    width: 25%;
    margin: 4px 4px;
    padding: 3px;
    align-items: center;
}

.box {
    margin: 0 auto;
}

footer {
    display: block;
    position: relative;
}

#satellite-container{
    display: inline-block;
    flex-direction: column;
}

#satellite-passes {
    display: flex;
    flex-direction: column;
    width: auto;  
    margin-top: 0;
}

img {
    display: inline-block;
}