* {
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
}

.is-visible {
    color: black;
}

.fa-angle-down {
    color: black;
}
header .title {
    margin: 4px;
    color:black;
    font-family: 'Courgette';
    letter-spacing: 2px;
    font-size: 45px;
}

.subtitle {
font-family: 'Spectral';
font-size: 22px;
}

i {
    margin: 3px;
    color: yellow;
}

body {
    background-color: rebeccapurple;
}

section {
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    
}

footer {
    width: 100%;
}

article {
    border: solid black 1px;
}

.norad-id-button {
    display: block;
}